.enter {
	display: inline;
	padding-right: 20px;
	clear: both;
}

.forget, .signup, .back {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
}

.stay {
	font-size: 12px;
}

.forget {
	text-align: left;
}

.signup, .back {
	text-align: right;
	
}


body { 
	background-color: #f6fbfc;
	font-family: Helvetica, Verdana, sans-serif; 
	margin:0px;
}


.loginform {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:331px;
	width:600px;
	padding:20px;
	border:none;
}

.textbox {
	padding: 10px;
	text-align: center;
	clear: both;
}


.btn {
padding:5px 15px; 
background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
}

.signupbtn {
	text-align: center;
}

.loginbtn {
	text-align: right;
	padding-right: 20px;
	width: 80%;
}

.info{
	display: inline;
	margin-right: 80px;
}

.back {
	display: inline;
	float: right: 
}

